.main-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.main-nav ul li .link {
  font-size: 2rem;
  font-weight: 600;
  color: black;
}
.main-nav ul li {
  border-radius: 10px;
  width: 25%;
  text-align: center;
  background-color: rgba(190, 193, 194, 0.349);
  box-shadow: 0px 2px 3px 4px white;
  padding: 1rem;
}
.main-nav ul li:hover {
  box-shadow: 0 1px 2px 1px gray;
}

.educationSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sectionTitle {
  font-size: 1.6rem;
  font-weight: 600;
}
.educationHeader {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 700;
}
.aboutEducation {
  width: 50rem;
  padding: 2.5rem;
  box-shadow: 0px 2px 3px 4px rgb(218, 218, 218);
  border-radius: 8px;
  transition: 0.6s all ease-in-out;
  margin-bottom: 2rem;
  border-left: 4px solid chocolate ;
}
.aboutEducation:hover {
  background-color: #ef073b;
  color: white;
}
.card__content h3{
    font-weight: 600;
}
.educational__space{
    margin: 1rem 0;
}
.educational__space span{
    font-size: 1.2rem;
    font-weight: 500;

}
.point {
  float: right;
  width: 5rem;
  padding: .3rem;
  border-radius: 10px;
  text-align: center;
  text-shadow: 2px  1px 2px chocolate;
  transition: .8s all ease-in; 
}
.aboutEducation:hover .point {
  background-color: #fe024e;
  box-shadow: 1px 2px 6px 1px rgba(226, 187, 182, 0.774);
}
.card__content p{
    margin-top: 1rem
}
@media only screen and (max-width: 600px) {
  .main-nav ul {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }
  .main-nav ul li {
    padding: 20px 80px;
    width: 90%;
  }

  .educationSection {
    flex-direction: column;
  }
  .educationPart {
    width: 95%;
    margin: 0 auto;
  }
  .aboutEducation {
    width: 90%;
    margin: 0 auto 1rem auto;
  }
}
