/* Home  */
.themeToggle{
  position: absolute;
  top:6rem;
  right: 7rem;
  z-index: 10;
  border-radius: 1rem;
  cursor: pointer;
  padding: .5rem 1.2rem;
  
}
.darkBorder{
  border: 1px  solid black;
}
.lightBorder{
  border: 1px solid white;
}

.darkTheme{
  background-color: var(--color-bg-dark);
  color: var(--color-bg-white);
}
.lightTheme{
  background-color: var(--color-bg-white);
  color: var(--color-bg-dark) ;
}
.menuIcon{
  font-size: 2rem;
}

/* Portfolio css */

.myPortfolio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  margin: auto;
}
.myProject{
  border-radius: 8px;
  padding: 20px;
  background-color: #d4dce26e;
  transition: 1s all ease-in-out;
}

.myProject:hover .sectionTitle{
  color: white
}
.projectImage{
  width: 300px;
  height:220px;
  margin: 0 auto;
  border-radius: 8px;
  overflow: hidden;
  

}
.projectImage:hover img{
  transform: scale(1.1);
  
}
.projectLiked{
  float: right;
}
.projectImage img{
  width: 100%;
  transition: 0.5s all ease-in-out;
  object-fit:cover;
}
.projectName  {
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  .myPortfolio{
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
  }
}