:root{
    --color-bg-dark: black ;
    --color-bg-white: white;
    
    --color-primary: #0c3974;
    --color-secondary: #00d9ff;
    --color-accent: #ff3400;
    --color-heading: #282921;
    --color-paragraph: #a399ca;
    --color-bg-subdark: rgba(20, 18, 18, 0.952);
    --color-shadow: rgb(255, 251, 0);
}

*, *::after, *::before{
    margin:0;
    box-sizing: border-box;
    padding: 0;
    font-size: 62.5%;
}
body{
    box-sizing: border-box;
}
h1{
    font-size: 4rem;
}
h2{
    font-size: 3rem;
}
h3{
    font-size: 2.5rem;
}
h4{
    font-size: 2rem;
}
h5{
    font-size: 1.5rem;
}
h6{
    font-size: 1rem;
}
h1,h2,h3,h4,h5,h6{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.8rem;
    
}
li{
    list-style: none;
}
.container{
    width: 85%; 
    margin: 0 auto;
}
@media only screen and (max-width: 600px) {
    h1{
        font-size: 3rem;
    }
    h2{
        font-size: 2.5rem;
    }
    h3{
        font-size: 2rem;
    }
    h4{
        font-size: 1.5rem;
    }
    h5{
        font-size: 1.2rem;
    }
    h6{
        font-size: 1rem;
    }
    .container{
        width: 95%; 
        margin: 0 auto;
    }
   
  }